html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
#hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-image: url("../images/citrBanner.png");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#hero-text {
    text-align: center;
    font-style: italic;
    font-size: 50px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Caveat', cursive;
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
}

#navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #A31BC6;
}

#navBar li a{
    display: block;
    color: white;
    float: left;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    text-decoration: none;
}

#navBar li a:hover {
    background-color: #80179B;
}

h1, h3{
    text-align: center;
}

#review {
    text-align: justify;
    padding-left: 15%;
    padding-right: 15%;
    font-family: 'Playfair Display', Times, serif;
}