html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
#hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-image: url("../images/vlibrary_hero.jpeg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#hero-image p {
    text-align: center;
    font-style: italic;
    font-size: 50px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Caveat', cursive;
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
}




#navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #A31BC6;
}

#navBar li a{
    display: block;
    color: white;
    float: left;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    text-decoration: none;
}

#navBar li a:hover {
    background-color: #80179B;
}

#intro {
    text-align: center;
}

a:visited {
    color:white;
}

#bookshelf {
    padding-left: 15%;
    padding-right: 15%;
}

h2 {
    text-align: center;
}
.novelOpt {
    width: 20%;
    height: 33%;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    float: left;
}

    .novelOpt img {
        width: 200px;
        height: 320px;
    }

    .novelOpt:hover {
        border: 1px solid #000000;
    }

    

.hideMe {
    opacity: 0;
}